/* The * selects everything and acts as a global reset to ensure consistency across browsers */
* {
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sets the overall background and ensures the content fits the screen height */
html {
    background-color: #ffe0e1;
}

html,
body {
    height: 125vh;
    padding: 1rem;
}

/* Defines the page layout using a grid */
body {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;
    /* Adjusted to reflect the simplified structure */
}

main {
    display: grid;
    grid-template-areas: "col1 col2";
    grid-template-columns: 1fr 1fr;
}

/* Assigns each major section to a part of the grid */
header {
    grid-area: header;
}

h1 {
    padding: 10px;
}

.go-home:link {
    color:#ec3c63;
    text-decoration: none;
}
.go-home:visited {
    color:#ec3c63;
    text-decoration: none;
}
.go-home:hover {
    color:#ec3c63;
    text-decoration: underline;
}
.go-home:active {
    color:#ec3c63;
    text-decoration: underline;
}

main {
    grid-area: main;
}

p {
    font-size: 2.3vh;
    line-height: 1.15;
}

.col1 {
    grid-area: col1;
    padding-right:10px;
    display: flex;
    flex-flow: column;
    padding-bottom: 10px;
}

#avatar {
    border:solid;
    border-bottom: none;
    border-width: 2ch;
    border-color: #f5c7c8;
}

img {
    width: 400px;
    height: auto;
}

#description {
    border:solid;
    border-top: none;
    border-width: 2ch;
    border-color: #f5c7c8;

    margin-right:10px;
    padding: 15px; 
    background-color: #f5c7c8;
    flex: 1 1 auto;
    width:400px;
}

ul {
    padding-left: 30px;
}

ol {
    padding-left: 30px;
}

li {
    font-size: 2.3vh;
}

.col2 {
    grid-area: col2;
    padding-right:10px;
    display: flex;
    flex-flow: column;
    padding-bottom: 10px;
}

.title {
    margin-bottom: 10px;
}

#map {
    height: 90vh;
    border-style: solid;
    border-width: 0.25ch;
}

.caption {
    margin-top: 10px;
    padding: 15px; 
    background-color: white;
    width:736px;
    flex: 1 1 auto;
}

a:link {
    color:#0090ce;
}
a:visited {
    color:#0090ce;
}
a:hover {
    color:white;
}
a:active {
    color:white;
}

footer {
    grid-area: footer;
}